@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
:root {
  --primary-color: #3382a9;
  --dark-color: #1d5673;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Play", sans-serif;
}

*:not(canvas) {
  z-index: 3;
}

span {
  color: var(--primary-color);
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  color: white;
}

main {
  overflow-x: hidden;
}

header {
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.jc {
  justify-content: space-between;
  padding: 2em;
  height: 11.5vh;
}

.jc:first-child a img {
  width: 90px;
}

.arrow {
  display: none;
  margin: 10px;
  cursor: pointer;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  list-style: none;
  margin-left: 5vw;
  border-radius: 10px;
  background-color: var(--primary-color);
  position: relative;
}

.nav-bar ul li img {
  display: none;
  position: absolute;
  top: -30px;
  left: -15px;
}

.nav-bar ul li a {
  display: block;
  padding: 0.5em 2em;
  text-decoration: none;
  color: white;
}

.hero {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  flex-direction: column;
  line-height: 10rem;
  margin-top: 20vh;
  margin-bottom: 40vh;
  text-align: center;
}

.hero h1 {
  font-size: 7rem;
}

.hero h2 {
  font-size: 2.5rem;
  opacity: 0;
  transform: translateY(100%);
}

.about {
  width: 100%;
  margin-bottom: 400px;
  flex-direction: column;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  align-items: flex-start;
  justify-content: flex-start;
}

.about h1 {
  z-index: 5;
  text-align: left;
  width: 50rem;
  font-weight: 400;
  font-size: 15rem;
  transform: translateX(-150%);
}

.about p {
  z-index: 6;
  font-size: 1.9rem;
  margin-left: 20vw;
  margin-bottom: 30vh;
  opacity: 0;
}

.skills {
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

.skills h1 {
  z-index: 99;
  font-size: 10rem;
}

#canvas {
  z-index: 4;
  margin-bottom: 400px;
}

.contact {
  flex-direction: column;
  line-height: 1.5;
  text-align: center;
}

.contact h1,
.contact h3 {
  font-size: 10rem;
  font-weight: 400;
}

.contact button {
  background-color: var(--primary-color);
  border: none;
  width: 20rem;
  height: 7rem;
  border-radius: 10pc;
}

.contact button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 3rem;
}

.links {
  margin-top: 5em;
}

.links a img {
  width: 8rem;
  margin-left: 5vw;
}

/* hover */
.hover:hover {
  cursor: pointer;
  transform: scale(0.95);
}

/* animation */
@-webkit-keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes right-to-left {
  0% {
    transform: translateX(100%);
  }
}
@keyframes right-to-left {
  0% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes down-to-up {
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}
@keyframes down-to-up {
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}
@-webkit-keyframes back-to-top {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes back-to-top {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate2 {
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotate2 {
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.animation1 {
  -webkit-animation: back-to-top 700ms ease-in;
          animation: back-to-top 700ms ease-in;
}

.animation2 {
  -webkit-animation: down-to-up 500ms ease-out 750ms forwards;
          animation: down-to-up 500ms ease-out 750ms forwards;
}

.animation3 {
  -webkit-animation: left-to-right 700ms ease-in forwards;
          animation: left-to-right 700ms ease-in forwards;
}

.animation4 {
  -webkit-animation: rotate 300ms ease-in-out 100ms forwards;
          animation: rotate 300ms ease-in-out 100ms forwards;
}

.animation5 {
  -webkit-animation: back-to-top 700ms ease-in, rotate2 300ms ease-in-out 100ms forwards;
          animation: back-to-top 700ms ease-in, rotate2 300ms ease-in-out 100ms forwards;
}

.animation6 {
  -webkit-animation: slide-down 300ms ease-in-out 100ms forwards;
          animation: slide-down 300ms ease-in-out 100ms forwards;
}

/*media*/
@media (max-width: 800px) {
  .jc {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .arrow {
    display: block;
  }

  .nav-bar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-bar {
    display: none;
    background-color: var(--dark-color);
    width: 100vw;
    margin: 10px;
    padding: 10px;
  }

  .nav-bar ul li {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    margin: 15px;
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero h1 {
    font-size: 1.5rem;
    line-height: 1rem;
  }

  .hero h2 {
    font-size: 1.3rem;
  }

  .about::after {
    top: 100px;
    left: -100px;
    height: 325px;
    width: 150vw;
  }

  .about h1 {
    margin-left: 10vw;
    font-size: 5rem;
    width: 24rem;
  }

  .about p {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .skills h1 {
    font-size: 5rem;
  }

  .contact h1 {
    font-size: 3rem;
  }

  .contact button {
    width: 12rem;
    height: 4rem;
  }

  .contact button a {
    font-size: 1.7rem;
  }

  .links {
    margin-top: 2em;
  }

  .links a img {
    width: 6rem;
  }

  .contact h3 {
    margin-top: 1rem;
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */