@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
:root {
  --primary-color: #3382a9;
  --dark-color: #1d5673;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(canvas) {
  z-index: 3;
}

span {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Play", sans-serif;
  background-color: black;
  color: white;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.header {
  justify-content: space-between;
  padding: 2vh 5vw;
}

.logo img {
  height: 50px;
}

.arrow {
  display: none;
  margin: 10px;
  cursor: pointer;
}

.nav-bar {
  width: 25%;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex-direction: column;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 20vh;
}

.hero h1 {
  font-size: max(min(7vw, 100px), 1rem);
  line-height: 30vh;
}

.hero h2 {
  font-size: max(min(5vw, 80px), 1rem);
  opacity: 0;
  transform: translateY(100%);
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: left;
  gap: min(4vw, 50px);
  margin-bottom: 50vh;
}

#ABOUT {
  fill: white;
}

#me {
  fill: var(--primary-color);
}

.svg1 {
  width: auto;
  max-width: 100%;
  height: min(35vh, 20vw);
  grid-column: span 3/auto;
  transform: translateX(-150%);
}

.svg2 {
  width: min(35vh, 20vw);
  height: auto;
  max-height: 60vh;
  max-width: 100%;
  grid-column: span 1/auto;
  transform: translateX(-150%);
}

.about-me {
  opacity: 0;
  grid-column: span 2/auto;
}

.about h2 {
  grid-column: span 2/auto;
  font-size: max(min(4vw, 60px), 1rem);
  margin-bottom: 3vw;
}

.about p {
  grid-column: span 2/auto;
  font-size: max(min(1vw, 20px), 0.8rem);
  margin-bottom: 4vw;
}

.skills h2 {
  font-size: max(min(7vw, 100px), 1rem);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50vh;
}

.skills div {
  justify-content: space-between;
  width: 90%;
}

.skills div ul {
  flex-direction: column;
  font-size: max(min(5vw, 80px), 1rem);
}

.contact {
  flex-direction: column;
  line-height: 1.5;
  text-align: center;
}

.contact h1,
.contact h3 {
  font-size: max(min(15vw, 400px), 1rem);
  font-weight: 400;
}

.email {
  background-color: var(--primary-color);
  border: none;
  width: 20rem;
  height: 7rem;
  border-radius: 10pc;
}

.email a {
  color: #ffffff;
  font-size: 3rem;
}

.links {
  width: 60%;
  margin-top: 5em;
  justify-content: space-between;
}

.links a img {
  width: 15vw;
  max-width: 350px;
}

/* hover */
.hover:hover {
  cursor: pointer;
  transform: scale(0.95);
}

/* animation */
@-webkit-keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes right-to-left {
  0% {
    transform: translateX(100%);
  }
}
@keyframes right-to-left {
  0% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes down-to-up {
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}
@keyframes down-to-up {
  100% {
    opacity: 100;
    transform: translateY(0);
  }
}
@-webkit-keyframes back-to-top {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes back-to-top {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate2 {
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rotate2 {
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes slide-down {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.animation1 {
  -webkit-animation: back-to-top 700ms ease-in;
  animation: back-to-top 700ms ease-in;
}

.animation2 {
  -webkit-animation: down-to-up 500ms ease-out 750ms forwards;
  animation: down-to-up 500ms ease-out 750ms forwards;
}

.animation3 {
  -webkit-animation: left-to-right 700ms ease-in forwards;
  animation: left-to-right 700ms ease-in forwards;
}

.animation4 {
  -webkit-animation: rotate 300ms ease-in-out 100ms forwards;
  animation: rotate 300ms ease-in-out 100ms forwards;
}

.animation5 {
  -webkit-animation: back-to-top 700ms ease-in, rotate2 300ms ease-in-out 100ms forwards;
  animation: back-to-top 700ms ease-in, rotate2 300ms ease-in-out 100ms forwards;
}

.animation6 {
  -webkit-animation: slide-down 300ms ease-in-out 100ms forwards;
  animation: slide-down 300ms ease-in-out 100ms forwards;
}

/*media*/
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .arrow {
    display: block;
  }

  .nav-bar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-bar {
    display: none;
    background-color: var(--dark-color);
    width: 100vw;
    margin: 10px;
  }

  .nav-bar ul li {
    padding: 15px;
    border-bottom: solid 0.4px white;
    border-top: solid 0.4px white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */