@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  padding: 4vh 7vw;
}

.container ul {
  list-style: none;
  display: flex;
}

.container ul li {
  padding-right: 4vw;
}
